page-home {
    .center-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    span {
        font-weight: 700;
    }
}
